.select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 100%;
}

.select:disabled {
  opacity: 0.5;
}

.datePicker_select {
  box-sizing: border-box;
}